.navbar {
  font-family: "Poppins", sans-serif;

  .navbar-brand {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      color: #0d6efd;
    }
  }

  .nav-link {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #0d6efd !important;
      transform: scale(1.05);
    }
  }

  .btn-outline-success {
    border-radius: 20px;
    transition: 0.3s;

    &:hover {
      background-color: #0d6efd;
      border-color: #0d6efd;
      color: #fff;
    }
  }
}
